<%#
 Copyright 2013-2022 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React<% if (applicationTypeGateway && microfrontend) { %>, { Suspense }<% } %> from 'react';
import { Routes <% if (communicationSpringWebsocket) { %>, useLocation <% } %>, Route } from 'react-router-dom';
import Loadable from 'react-loadable';

<%_ if (!authenticationTypeOauth2) { _%>
import Login from 'app/modules/login/login';
<%_ } _%>
<%_ if (authenticationTypeOauth2) { _%>
import LoginRedirect from 'app/modules/login/login-redirect';
<%_ } _%>
<%_ if (!skipUserManagement) { _%>
import Register from 'app/modules/account/register/register';
import Activate from 'app/modules/account/activate/activate';
import PasswordResetInit from 'app/modules/account/password-reset/init/password-reset-init';
import PasswordResetFinish from 'app/modules/account/password-reset/finish/password-reset-finish';
<%_ } _%>
import Logout from 'app/modules/login/logout';
import Home from 'app/modules/home/home';
import EntitiesRoutes from 'app/entities/routes';

import PageNotFound from 'app/shared/error/page-not-found';
import { AUTHORITIES } from 'app/config/constants';
<%_ if (communicationSpringWebsocket) { _%>
import { sendActivity } from 'app/config/websocket-middleware';
<%_ } _%>

const loading = <div>loading ...</div>;
<%_ if (!skipUserManagement) { _%>

  const Account = Loadable({
  loader: () => import(/* webpackChunkName: "account" */ 'app/modules/account'),
  loading: () => loading,
});
<%_ } _%>

const Admin = Loadable({
  loader: () => import(/* webpackChunkName: "administration" */ 'app/modules/administration'),
  loading: () => loading,
});
<%_ if (applicationTypeGateway && microfrontend) { _%>

  <%_ for (const remote of microfrontends) { _%>
const <%= remote.capitalizedBaseName %>Routes = React.lazy(() => import('@<%= remote.lowercaseBaseName %>/entities-routes').catch(() => import('app/shared/error/error-loading')));
  <%_ } _%>
<%_ } _%>

const routes = () => {
<%_ if (communicationSpringWebsocket) { _%>
  const location = useLocation();
  React.useEffect(() => {
    sendActivity(location.pathname);
  }, [location]);
<%_ } _%>
  return (
    <div className="view-routes">
      <Routes>
<%_ if (!authenticationTypeOauth2) { _%>
        <Route path="/login" >
          <Login/>
        </Route>
<%_ } _%>
        <Route path="/logout" >
          <Logout/>
        </Route>
<%_ if (!skipUserManagement) { _%>
        <Route path="/account/register">
          <Register />
        </Route> 
        <Route path="/account/activate/:key?">
          <Activate />
        </Route> 
        <Route path="/account/reset/request" >
          <PasswordResetInit />
        </Route>
        <Route path="/account/reset/finish/:key?">
          <PasswordResetFinish />
        </Route> 
<%_ } _%>
        <Route path="/admin" >
          <Admin/>
        </Route>

<%_ if (!skipUserManagement) { _%>
        <Route path="/account" >
          <Account/>
        </Route>
<%_ } _%>
        <Route path="/" >
          <Home/>
        </Route>
<%_ if (authenticationTypeOauth2) { _%>
        <Route path="/oauth2/authorization/oidc">
          <LoginRedirect />
        </Route>
<%_ } _%>
<%_ if (applicationTypeGateway && microfrontend) { _%>
  <%_ for (const remote of microfrontends) { _%>
        <Route path="/<%= remote.lowercaseBaseName %>/">
          <Suspense fallback={loading}>
            <Route >
              <<%= remote.capitalizedBaseName %>Routes />
            </Route>
          
          </Suspense>
        </Route>
  <%_ } _%>
<%_ } _%>
        <Route  path="/<%= microfrontend && applicationTypeMicroservice ? lowercaseBaseName + '/' : '' %>" >
          <EntitiesRoutes/>
        </Route> 
        <Route>
          <PageNotFound/>
        </Route> 
      </Routes>
    </div>
  );
};

export default routes;
